@import "tailwindcss";
:root{
    --color1:#F7FFF7;
    --color2:#E9F9EF;
    --color3:#E3F2FD;
    --color4:#0c0516;
    --cGreen:#00B894;
    --yellow:#FFB800;
    
    
}


/* *{
    background:linear-gradient(var(--color1),var(--color2),var(--color3));
} */

.font{
   /* font-family: 'Nativera';
  src: url('/fonts/Nativera.ttf') format('truetype'); */

  /* font-family: 'GC Epicpro';
  src: url('/fonts/GCEpicpro.otf') format('opentype'); */

  /* font-family: 'Grooter';
  src: url('/fonts/Grooter.ttf') format('truetype'); */

  font-family: 'Tallica';
  src: url('/fonts/Tallica.ttf') format('truetype');

}